<header id="navbar" class="navbar navbar-fixed-top navbar-inverse">
  <div id="navbarMinha" class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left hide" id="location">
        <%= content_tag(:li, fa_icon('map-marker 2x')) %>
        <li id="user_address" style="color: #fff"></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to "Doe", doe_path %></li>
        <li><%= link_to "Por que plantar?", porque_plantar_path %></li>
        <% if logged_in? %>
            <li><%= link_to 'Plantei uma Árvore', plantei_path %></li>
            <li><%= link_to 'Minhas Árvores', arvores_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to 'Locais', local_path  %></li>
            <% end %>
            <li><%= link_to 'Configurações', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
            <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
